<div class="row">
    <div class="col">
        <a asp-action="Index" class="btn btn-secondary form-control">&nbsp;<i class="bi bi-chevron-double-left"></i>Regresar</a>
    </div>
    &nbsp;
    <div class="col">
        <button type="submit" class=" btn btn-primary form-control">Guardar&nbsp;<i class="bi bi-floppy2"></i></button>
    </div>
</div>